body {
  font-family: Cairo;
  text-align: center;
  background-size: cover;
  background-image:url(img/KuwaitCodesWallpaper.png) ;
}

/* المطلوب الثاني هنا */
nav {
  background-color: honeydew;
  display: flex;
  justify-content:center;
}
.nav-elements {
  
  display: flex;
  justify-content:space-around;
  width: 300px;
}

.card {
  box-shadow: 10px 20px 5px white ;
  border-radius: 12px;
  width: 400px;
  height: 500px;
  background-color: white;
}

img {
  box-shadow: 5px 10px 10px grey;
  border-radius: 50px;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.hobbies {
  display: flex;
  justify-content: space-around;
  transition: all 1s;

}
img:hover{
  transform: rotate(30deg);
}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
